body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

header {
    background-color: #e60012; /* Rojo Puebla */
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

header p {
    font-size: 16px;
}

.qr-section {
    margin-top: 20px;
}

.generate-button {
    background-color: #005fa9; /* Azul Puebla */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.generate-button:hover {
    background-color: #004a87;
}

.qr-code {
    text-align: center;
    margin-top: 20px;
}

.qr-code img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.qr-code p {
    font-size: 16px;
    font-weight: bold;
    color: #e60012;
}
