{% extends 'base.html' %}

{% block title %}Administración de Locatarios{% endblock %}

{% block content %}
  <h1>Administración de Locatarios</h1>

  {% if locatarios %}
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Mercado</th>
          <th>Productos</th>
          <th>Teléfono</th>
          <th>Correo</th>
        </tr>
      </thead>
      <tbody>
        {% for l in locatarios %}
          <tr>
            <td>{{ l[0] }}</td>
            <td>{{ l[1] }}</td>
            <td>{{ l[2] }}</td>
            <td>{{ l[3] }}</td>
            <td>{{ l[4] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay locatarios registrados.</p>
  {% endif %}
{% endblock %}
