
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Administración de Locatarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Locatarios Registrados</h1>
    <table>
        <tr>
            <th>ID</th><th>Nombre</th><th>Mercado</th><th>Productos</th><th>Teléfono</th><th>Correo</th>
        </tr>
        {% for loc in locatarios %}
        <tr>
            <td>{{ loc[0] }}</td><td>{{ loc[1] }}</td><td>{{ loc[2] }}</td><td>{{ loc[3] }}</td><td>{{ loc[4] }}</td><td>{{ loc[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
