{% extends 'base.html' %}

{% block title %}Usar subsidio QR{% endblock %}

{% block content %}
  <h1>Usar subsidio QR</h1>
  <form method="POST">
    <label for="codigo_qr">Introduce tu código QR:</label><br>
    <input type="text" name="codigo_qr" required><br><br>

    <input type="checkbox" name="usar_saldo" value="si"> Usar saldo de $450<br><br>
    <button type="submit">Canjear</button>
  </form>

  {% if saldo %}
    <p>Tu saldo disponible: ${{ saldo }}</p>
  {% endif %}

  {% if mensaje %}
    <p><strong>{{ mensaje }}</strong></p>
  {% endif %}
{% endblock %}
